

    <div class="footer">
      <div class="row footer-main-row">
        <div class="col-lg-4 col-sm-12">
         <div class="about-project">
           <h4 class="footer-h4">About Project</h4>
           <p>This is a full-stack web application which provides an interface for reporting and claiming lost and found items</p>
         </div>
        </div>
        <div class="col-lg-4 col-sm-12">
           <div class="footer-links">
             <h4 class="footer-h4">SOCIAL</h4>
           </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="about-developer">
              <h4 class="footer-h4">About Developers</h4>
              <p><a href="https://github.com/Grumpyyash" class="anchor-footer"><i class="fab footer-icon fa-github-square fa-3x"></i></a> 
                <a href="https://github.com/Grumpyyash" class="anchor-footer"><i class="fab footer-icon fa-github-square fa-3x"></i></a> 
                <a href="https://github.com/Grumpyyash" class="anchor-footer"><i class="fab footer-icon fa-github-square fa-3x"></i></a></p>
              <h5 class="manual"><a href="/manual" class="anchor-footer">PROJECT MANUAL</a></h5>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>


