<%- include("partials/header") -%>
<section id="testimonials">

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="false">
      <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
   </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" >
        <h2 class="testimonial-text">What We do..</h2>
        <p class="testimonial-text">A Full-Stack Web application to help you find your lost items and report a found item to help others like you</h2>
        <img class="testimonial-image" src="https://images.unsplash.com/photo-1504868584819-f8e8b4b6d7e3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8ZGF0YXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="dog-profile"><br>
        
      </div>
  
      <div class="carousel-item" >
        <h2 class="testimonial-text">Data speaks for itself</h2>
        <p class="testimonial-text">We have helped over 1000+ people to get their lost items</p>
        <img class="testimonial-image" src="https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8ZGF0YXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="lady-profile"><br>
        <em>And we are proud of that</em>
      </div>
      <div class="carousel-item" >
        <h2 class="testimonial-text">Found any issues? report to us please!</h2>
        <img class="testimonial-image" src="https://images.unsplash.com/photo-1587287720754-94bac45f0bff?ixid=MXwxMjA3fDB8MHxzZWFyY2h8N3x8bWFudWFsfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="lady-profile"><br>
        <a href="/manual"><button class="btn sell-btn btn-primary" type="submit" name="button">REPORT</button></a>
      </div>
  
    </div>
      <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  </section>
<%- include("partials/footer") -%>