<%- include("partials/header") -%>

<section class="category">
  <h4>CHOOSE YOUR CATEGORY OF ITEMS TO KNOW MORE</h4>
  <hr>
  <div class="row category-main-div">
    <div class=" col-lg-12 col-sm-12">
      <h5>SELECT A CATEGORY</h5><br>
      <h6><i class=" mobile fas fa-mobile-alt"></i> <a class="category-anchor" href="/electronics">ELECTRONICS</a> <i class="fas category-right fa-chevron-right"></i></h6><hr>
      <h6><i class="category-icon fas fa-truck-pickup"></i> <a class="category-anchor" href="/vehicles">VEHICLES</a> <i class="fas category-right fa-chevron-right"></i></h6><hr>
      <h6><i class="category-icon fas fa-wallet"></i> <a class="category-anchor" href="/Wallets">WALLETS</a> <i class="fas category-right fa-chevron-right"></i></h6><hr>
      <h6><i class="category-icon fas fa-briefcase"></i> <a class="category-anchor" href="/briefcases">BRIEFCASES</a> <i class="fas category-right fa-chevron-right"></i></h6><hr>
      <h6><i class="category-icon far fa-credit-card"></i> <a class="category-anchor" href="/cards">CARDS</a> <i class="fas category-right fa-chevron-right"></i></h6><hr>
      <h6><i class="category-icon far fa-question-circle"></i> <a class="category-anchor" href="/others">OTHER PRODUCTS</a> <i class="fas category-right fa-chevron-right"></i></h6><hr>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
