<%- include("partials/header"); -%>
    <div class="demand-header">
      <h4>What People Want..</h4>
    </div>

    <hr class="hr">

    <div class="home-header">
      <div class="row cards-row">

        <% personBuy.forEach(function(item, index){ %>

        <div class="col-lg-3 col-sm-12">
          <div class="card" style="width: 18rem;">
          <div class="card-body">
          <p><%= item.props %></p>
          <hr>
          <h5>Can you help him?</h5>
          </div>
         </div>
      </div>
      <% }) %>
      </div>
      </div>


<%- include("partials/footer"); -%>